Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

Update closure, set up Buildkite
  .buildkite/pipeline.yml
  closure.nix
  default.nix
  release.nix
Owners: @gromakovsky, @yegortimoshenko

Bump stack4nix to 9c8607c95b4a01a9587846d28cb66e35bd3c37f3
  default.nix
Owners: @yegortimoshenko

Switch to serokell-closure
  closure.nix
  default.nix
  nixpkgs.nix
  release.nix
Owners: @yegortimoshenko

Remove editor-specific ignores, add Nix ignores
  .gitignore
Owners: @gromakovsky

Fix path to ariadne-vty-app binary
  release.nix
Owners: @yegortimoshenko

Add Qt version to the release
  release.nix
Owners: @yegortimoshenko

Ignore cabal.project
  .gitignore
Owners: @gromakovsky

Bump stack4nix (Darwin fix)
  default.nix
Owners: @yegortimoshenko

Remove jemalloc450.nix
  jemalloc450.nix
Owners: @yegortimoshenko

Import cabal new-build shell and updated stack-to-nix syntax
  default.nix
  shell.nix
Owners: @yegortimoshenko

Restore editor-specific ignores
  .gitignore
Owners: @gromakovsky

Add Nix build documentation
  README.md
  stack.yaml
Owners: @gromakovsky

[AD-225] Estimated transaction fee stub
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
Owners: @goodsoft

[AD-225] Estimated transaction fee stub (#318)
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
Owners: @goodsoft

[AD-397] Knit part of Cardano fee estimations
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ui/vty-app/Glue.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft

[AD-53] Format semicolon properly
  knit/src/Knit/Prelude.hs
  knit/src/Knit/Printer.hs
Owners: @int-index, @hithroc

[AD-53] Print decorated tree
  knit/src/Knit/Prelude.hs
  knit/src/Knit/Printer.hs
Owners: @int-index, @hithroc

[AD-53] Rename decorate* to format and move it
  knit/knit.cabal
  knit/src/Knit.hs
  knit/src/Knit/FormattedExprExt.hs
  knit/src/Knit/Printer.hs
Owners: @int-index, @hithroc

[AD-53] Use Writer instead of a pair
  knit/src/Knit/FormattedExprExt.hs
  knit/src/Knit/Syntax.hs
Owners: @int-index, @hithroc

[AD-358] Use Qtah master
  stack.yaml
  ui/qt-lib/src/Ariadne/UI/Qt/UI.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Request.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-358] Use Qtah master
  stack.yaml
  ui/qt-lib/src/Ariadne/UI/Qt/UI.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Request.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-375] implemented basic layout
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
Owners: @goodsoft, @maksbotan

Improve Nix build instructions
  README.md
Owners: @gromakovsky

closure.nix -> pkgs.nix
  README.md
  default.nix
  pkgs.nix
  release.nix
Owners: @gromakovsky, @yegortimoshenko

Restore native Nix shell
  shell-native.nix
  stack.yaml
Owners: @yegortimoshenko, @gromakovsky

Remove nix: enable: true
  stack.yaml
Owners: @gromakovsky

buildkite: run release after build
  .buildkite/pipeline.yml
Owners: @gromakovsky

[AD-64] add password manager
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/UX/PasswordManager.hs
  ui/cli-app/Glue.hs
  ui/cli-app/Main.hs
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/cli-lib/src/Ariadne/UI/Cli/Face.hs
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/InsertPassword.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/Glue.hs
  ui/vty-app/Main.hs
  ui/vty-lib/src/Ariadne/UI/Vty.hs
  ui/vty-lib/src/Ariadne/UI/Vty/App.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Edit.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Password.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-64] update TUI documentation
  docs/usage-tui.md
Owners: @gromakovsky

[AD-375] Add required functionality and button icons
  ui/qt-lib/package.yaml
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/link-ic.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-64] fix after rebase, fix various requested changes
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/package.yaml
  ariadne/core/src/Ariadne/UX/PasswordManager.hs
  docs/usage-tui.md
  ui/cli-app/package.yaml
  ui/cli-lib/package.yaml
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/qt-app/Glue.hs
  ui/qt-app/package.yaml
  ui/qt-lib/package.yaml
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/InsertPassword.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/Glue.hs
  ui/vty-app/package.yaml
  ui/vty-lib/package.yaml
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Password.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-64] fix after rebase, fix various requested changes
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/package.yaml
  ariadne/core/src/Ariadne/UX/PasswordManager.hs
  docs/usage-tui.md
  ui/cli-app/package.yaml
  ui/cli-lib/package.yaml
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/qt-app/Glue.hs
  ui/qt-app/package.yaml
  ui/qt-lib/package.yaml
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/InsertPassword.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/Glue.hs
  ui/vty-app/package.yaml
  ui/vty-lib/package.yaml
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Password.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-64] add password manager
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/UX/PasswordManager.hs
  ui/cli-app/Glue.hs
  ui/cli-app/Main.hs
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/cli-lib/src/Ariadne/UI/Cli/Face.hs
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/InsertPassword.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/NewWallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/Glue.hs
  ui/vty-app/Main.hs
  ui/vty-lib/src/Ariadne/UI/Vty.hs
  ui/vty-lib/src/Ariadne/UI/Vty/App.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Edit.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Password.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-64] update TUI documentation
  docs/usage-tui.md
Owners: @gromakovsky

[AD-279] Add Send dialog
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  stack.yaml
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-lib/package.yaml
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Send.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-279] Add Send dialog (#319)
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  stack.yaml
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-lib/package.yaml
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Send.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-394] Clear wallet pane when nothing selected
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @goodsoft, @maksbotan

[AD-394] Clear wallet pane when nothing selected
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @goodsoft, @maksbotan

[AD-175] use the correct configuration for Updates and History in CLI (with tests)
  ariadne/cardano/src/Ariadne/Config/CLI.hs
  ariadne/cardano/src/Ariadne/Config/History.hs
  ariadne/cardano/src/Ariadne/Config/Update.hs
  ariadne/cardano/test/Spec.hs
  ariadne/cardano/test/Test/Ariadne/History/Arbitrary.hs
  ariadne/cardano/test/Test/Ariadne/Update/Arbitrary.hs
Owners: @gromakovsky, @hithroc

[AD-375] Make appropriate design accordin to zeplin
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
