Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

[AD-326] Fix exception handling
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Accounts.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
Owners: @Pastafarianist, @gromakovsky

[AD-326] Fix tests & enable DerivingStrategies
  .stylish-haskell.yaml
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/src/Ariadne/Config/Wallet.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
Owners: @gromakovsky, @Pastafarianist

[AD-53] Implement ui part of autocompletion
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Keyboard.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

[AD-53] Look for available commands for completion
  ui/vty-app/Glue.hs
Owners: @goodsoft

[AD-334] Make checkbox label clickable
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @goodsoft, @maksbotan

[AD-334] Refactor: use createCheckBox in Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
Owners: @goodsoft, @maksbotan

[AD-334] Implement Confirm Mnemonic functionality
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ui/cli-app/Main.hs
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletTree.hs
  ui/vty-app/Main.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-334] Make checkbox label clickable
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @goodsoft, @maksbotan

[AD-334] Refactor: use createCheckBox in Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
Owners: @goodsoft, @maksbotan

[AD-334] Implement Confirm Mnemonic functionality
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ui/cli-app/Main.hs
  ui/qt-app/Glue.hs
  ui/qt-app/Main.hs
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletTree.hs
  ui/vty-app/Main.hs
Owners: @gromakovsky, @Pastafarianist, @goodsoft, @maksbotan

[AD-226] add selection explicitly in Knit commands
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @goodsoft

[AD-226] Show TUI Widget Knit commands in Repl
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

[AD-226] make required changes
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @goodsoft

[AD-226] Show TUI Widget Knit commands in Repl
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @goodsoft

[AD-374] Create @DATA if default config is used
  ariadne/cardano/src/Ariadne/Config/CLI.hs
Owners: @gromakovsky

[AD-326] Address review suggestions
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Resolved.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
Owners: @Pastafarianist, @gromakovsky

[AD-374] Create @DATA if default config is used (#300)
  ariadne/cardano/src/Ariadne/Config/CLI.hs
Owners: @gromakovsky

[AD-326] Fix UserSecret lock handling
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
  stack.yaml
Owners: @Pastafarianist, @gromakovsky

[AD-326] Cosmetic fixes
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-326] Use Keystore in sendTx
  ariadne/cardano/src/Ariadne/Cardano/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Types.hs
Owners: @gromakovsky, @Pastafarianist

[AD-326] Fix import scripts
  ariadne/cardano/import_wallet.sh
  ariadne/cardano/updating_wallet.md
Owners: @gromakovsky

[AD-326] Simplify diff w/ upstream
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Spec.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
Owners: @Pastafarianist, @gromakovsky

[AD-326] Remove redundant mnemonic suffix
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
Owners: @Pastafarianist, @gromakovsky

[AD-326] Update cardano-sl commit
  stack.yaml
Owners: @gromakovsky

Rename .wallet-db to wallet-db
  .gitignore
  ariadne/cardano/src/Ariadne/Config/Wallet.hs
  ariadne/cardano/test/Spec.hs
  config/wallet.dhall
Owners: @gromakovsky

Use -Weverything
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Decrypt.hs
  ariadne/core/ariadne-core.cabal
  knit/knit.cabal
  knit/src/Knit/Argument.hs
  ui/cli-app/ariadne-cli-app.cabal
  ui/cli-lib/ariadne-cli-lib.cabal
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/src/Ariadne/UI/Qt/UI.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/ariadne-vty-app.cabal
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/src/Ariadne/UI/Vty/Scrolling.hs
Owners: @gromakovsky, @Pastafarianist, @int-index, @hithroc, @goodsoft, @maksbotan

Remove redundant return <=<
  ui/qt-lib/src/Ariadne/UI/Qt/UI.hs
Owners: @goodsoft, @maksbotan

Use -Weverything (#301)
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Decrypt.hs
  ariadne/core/ariadne-core.cabal
  knit/knit.cabal
  knit/src/Knit/Argument.hs
  ui/cli-app/ariadne-cli-app.cabal
  ui/cli-lib/ariadne-cli-lib.cabal
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/src/Ariadne/UI/Qt/UI.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/vty-app/ariadne-vty-app.cabal
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/src/Ariadne/UI/Vty/Scrolling.hs
Owners: @gromakovsky, @Pastafarianist, @int-index, @hithroc, @goodsoft, @maksbotan

stylish-haskell
  ariadne/cardano/src/Ariadne/Config/TH.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/AddressDiscovery.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Delete.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Spec/Read.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Spec/Util.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Util/IxSet.hs
  knit/src/Knit/Prelude.hs
  ui/cli-app/Main.hs
  ui/qt-app/Main.hs
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/StyleSheet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/vty-app/Main.hs
  ui/vty-lib/src/Ariadne/UI/Vty/App.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/AddWallet.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Logs.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @gromakovsky, @Pastafarianist, @int-index, @hithroc, @goodsoft, @maksbotan

Rename .wallet-db to wallet-db (#302)
  .gitignore
  ariadne/cardano/src/Ariadne/Config/Wallet.hs
  ariadne/cardano/test/Spec.hs
  config/wallet.dhall
Owners: @gromakovsky

[AD-335] Introduce hpack
  .gitignore
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/package.yaml
  ariadne/core/ariadne-core.cabal
  ariadne/core/package.yaml
  hpack/definitions.yaml
  hpack/module.yaml
  knit/knit.cabal
  knit/package.yaml
  ui/cli-app/ariadne-cli-app.cabal
  ui/cli-app/package.yaml
  ui/cli-lib/ariadne-cli-lib.cabal
  ui/cli-lib/package.yaml
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-app/package.yaml
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/package.yaml
  ui/vty-app/ariadne-vty-app.cabal
  ui/vty-app/package.yaml
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/package.yaml
Owners: @gromakovsky, @int-index, @hithroc, @goodsoft, @maksbotan

[AD-366] Import Disciplina wallet code
  ariadne/disciplina/COPYING.md
  ariadne/disciplina/README.md
  ariadne/disciplina/exec-cli/Glue.hs
  ariadne/disciplina/exec-cli/Main.hs
  ariadne/disciplina/exec/Glue.hs
  ariadne/disciplina/exec/Main.hs
  ariadne/disciplina/package.yaml
  ariadne/disciplina/src/Dscp/Wallet/Backend.hs
  ariadne/disciplina/src/Dscp/Wallet/CLI.hs
  ariadne/disciplina/src/Dscp/Wallet/Face.hs
  ariadne/disciplina/src/Dscp/Wallet/KeyStorage.hs
  ariadne/disciplina/src/Dscp/Wallet/Knit.hs
  hpack/definitions.yaml
  stack.yaml
Owners: @gromakovsky, @Pastafarianist

Slightly update pull request template
  .github/pull_request_template.md
Owners: @gromakovsky

[AD-285] Add .hlint.yaml & fix warnings
  .hlint.yaml
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
  ariadne/cardano/src/Ariadne/Config/CLI.hs
  ariadne/cardano/src/Ariadne/Update/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Bip44.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/Knit/Backend.hs
  knit/src/Knit/DisplayError.hs
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/AnsiToVty.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Knit.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/AddWallet.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/List.hs
Owners: @gromakovsky, @hithroc, @Pastafarianist, @int-index, @goodsoft, @maksbotan

[AD-285] Address review suggestions
  ui/qt-lib/src/Ariadne/UI/Qt.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/List.hs
Owners: @goodsoft, @maksbotan

[AD-285] Reduce duplication in Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @goodsoft, @maksbotan

Switch to stack4nix
  appveyor.yml
  default.nix
  nixpkgs.nix
  release.nix
  stack.yaml
Owners: @yegortimoshenko, @gromakovsky

[AD-285] Fix hlint duplication warnings in TUI
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/List.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Logs.hs
Owners: @goodsoft

Switch to stack4nix (#311)
  appveyor.yml
  default.nix
  nixpkgs.nix
  release.nix
  stack.yaml
Owners: @yegortimoshenko, @gromakovsky

[AD-335] Introduce hpack
  .gitignore
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/package.yaml
  ariadne/core/ariadne-core.cabal
  ariadne/core/package.yaml
  hpack/definitions.yaml
  hpack/module.yaml
  knit/knit.cabal
  knit/package.yaml
  ui/cli-app/ariadne-cli-app.cabal
  ui/cli-app/package.yaml
  ui/cli-lib/ariadne-cli-lib.cabal
  ui/cli-lib/package.yaml
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-app/package.yaml
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/package.yaml
  ui/vty-app/ariadne-vty-app.cabal
  ui/vty-app/package.yaml
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/package.yaml
Owners: @gromakovsky, @int-index, @hithroc, @goodsoft, @maksbotan

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
