Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko

Do not override ariadne-qt-lib depends
  default.nix
Owners: @yegortimoshenko

[AD-285] Use hlint config with Universum rules
  .hlint.yaml
  ariadne/cardano/src/Ariadne/Update/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Types.hs
  ariadne/cardano/test/Test/Ariadne/Cardano/Arbitrary.hs
  ariadne/core/src/Ariadne/Knit/Help.hs
  ui/cli-app/Glue.hs
  ui/cli-lib/src/Ariadne/UI/Cli.hs
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Repl.hs
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/AnsiToVty.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Logs.hs
Owners: @gromakovsky, @hithroc, @Pastafarianist, @goodsoft, @maksbotan

[AD-285] Lint knit and everything else separately
  .hlint-universum.yaml
  .hlint.yaml
  scripts/lint.sh
Owners: @gromakovsky

[AD-335] Introduce hpack (#307)
  .gitignore
  ariadne/cardano/ariadne-cardano.cabal
  ariadne/cardano/package.yaml
  ariadne/core/ariadne-core.cabal
  ariadne/core/package.yaml
  default.nix
  hpack/definitions.yaml
  hpack/module.yaml
  knit/knit.cabal
  knit/package.yaml
  ui/cli-app/ariadne-cli-app.cabal
  ui/cli-app/package.yaml
  ui/cli-lib/ariadne-cli-lib.cabal
  ui/cli-lib/package.yaml
  ui/qt-app/ariadne-qt-app.cabal
  ui/qt-app/package.yaml
  ui/qt-lib/ariadne-qt-lib.cabal
  ui/qt-lib/package.yaml
  ui/vty-app/ariadne-vty-app.cabal
  ui/vty-app/package.yaml
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/package.yaml
Owners: @gromakovsky, @yegortimoshenko, @int-index, @hithroc, @goodsoft, @maksbotan

AD-353 Add haddock commands to Makefile
  Makefile
Owners: @gromakovsky

[AD-353] Fix haddock errors
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Types.hs
  stack.yaml
Owners: @gromakovsky, @Pastafarianist

AD-353 Make CI build Haddock
  default.nix
Owners: @yegortimoshenko

[AD-285] Use hlint config from Universum repo
  .hlint-universum.yaml
  .hlint.yaml
Owners: @gromakovsky

Fix ghc-options for ariadne-qt-app.cabal
  ui/qt-app/package.yaml
Owners: @goodsoft, @maksbotan

[AD-377] move responsibility to caller
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Tree.hs
Owners: @goodsoft

[AD-377] mute read-only knit commands
  ui/vty-app/Glue.hs
Owners: @goodsoft

[AD-377] Mute read-only knit commands (#315)
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Tree.hs
Owners: @goodsoft

[AD-377] Mute balance and tx history commands as well
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @goodsoft

[AD-53] Extend syntax with "Trees that Grow" idiom
  knit/src/Knit/Argument.hs
  knit/src/Knit/Core.hs
  knit/src/Knit/Eval.hs
  knit/src/Knit/Inflate.hs
  knit/src/Knit/Parser.hs
  knit/src/Knit/Prelude.hs
  knit/src/Knit/Printer.hs
  knit/src/Knit/Procedure.hs
  knit/src/Knit/Syntax.hs
Owners: @int-index, @hithroc

[AD-53] Use new Knit.Syntax in dependent packages
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/Knit/Face.hs
  ariadne/core/src/Ariadne/TaskManager/Knit.hs
  knit/src/Knit/Eval.hs
  knit/src/Knit/Procedure.hs
  knit/src/Knit/Syntax.hs
  ui/qt-app/Glue.hs
  ui/vty-app/Glue.hs
Owners: @gromakovsky, @Pastafarianist, @hithroc, @int-index, @goodsoft, @maksbotan

[AD-53] Parse concrete syntax tree instead of AST
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/TaskManager/Knit.hs
  knit/src/Knit/Core.hs
  knit/src/Knit/Parser.hs
  knit/src/Knit/Prelude.hs
  knit/src/Knit/Syntax.hs
Owners: @gromakovsky, @Pastafarianist, @hithroc, @int-index

[AD-377] Mute balance and tx history commands as well (#317)
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @goodsoft

[AD-53] Finish `Knit.Parser`
  knit/src/Knit/Parser.hs
Owners: @int-index, @hithroc

[AD-225] Estimated transaction fee stub
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
Owners: @goodsoft

[AD-53] Add XExpr and simplify ComponentLitGrammar
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/TaskManager/Knit.hs
  knit/src/Knit/Argument.hs
  knit/src/Knit/Core.hs
  knit/src/Knit/DisplayError.hs
  knit/src/Knit/Eval.hs
  knit/src/Knit/Parser.hs
  knit/src/Knit/Prelude.hs
  knit/src/Knit/Printer.hs
  knit/src/Knit/Procedure.hs
  knit/src/Knit/Syntax.hs
  knit/src/Knit/Tokenizer.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Knit.hs
Owners: @gromakovsky, @Pastafarianist, @hithroc, @int-index, @goodsoft

Use `NonEmpty Word` as account path in GUI
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
Owners: @goodsoft, @maksbotan

WIP
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  stack.yaml
  ui/vty-app/Glue.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft

Use `NonEmpty Word` as account path in GUI (#313)
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
Owners: @goodsoft, @maksbotan

Slightly update pull request template (#309)
  .github/pull_request_template.md
Owners: @gromakovsky

[AD-53] Rename ComponentLitGrammar
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
  ariadne/cardano/src/Ariadne/Wallet/Knit.hs
  ariadne/core/src/Ariadne/TaskManager/Knit.hs
  knit/README.md
  knit/src/Knit/Core.hs
  knit/src/Knit/Parser.hs
  ui/cli-app/Glue.hs
  ui/qt-app/Glue.hs
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Knit.hs
Owners: @gromakovsky, @Pastafarianist, @hithroc, @int-index, @goodsoft, @maksbotan

[AD-285] Reduce duplication in Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @goodsoft, @maksbotan

[AD-278] Add Request dialog
  ui/qt-app/Glue.hs
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/ada-symbol-small-dark.png
  ui/qt-lib/resources/images/clipboard-small-ic.png
  ui/qt-lib/resources/images/expand-arrow-open.png
  ui/qt-lib/resources/images/expand-arrow.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Request.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @goodsoft, @maksbotan

[AD-53] Add XArg extension constructor
  knit/src/Knit/Argument.hs
  knit/src/Knit/Parser.hs
  knit/src/Knit/Printer.hs
  knit/src/Knit/Syntax.hs
Owners: @int-index, @hithroc

[AD-285] Reduce duplication in Dialogs/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @goodsoft, @maksbotan

[AD-278] Add Request dialog
  ui/qt-app/Glue.hs
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/ada-symbol-small-dark.png
  ui/qt-lib/resources/images/clipboard-small-ic.png
  ui/qt-lib/resources/images/expand-arrow-open.png
  ui/qt-lib/resources/images/expand-arrow.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Util.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Request.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @goodsoft, @maksbotan

[AD-285] Remove some hlint universum rules
  .hlint-universum.yaml
Owners: @gromakovsky

[AD-285] Remove <<$>> hlint rule
  .hlint-universum.yaml
Owners: @gromakovsky

[AD-285] Remove redundant parentheses
  ariadne/cardano/src/Ariadne/Cardano/Knit.hs
Owners: @gromakovsky

Remove legacy
  stack.yaml
Owners: @gromakovsky

Remove legacy (#322)
  stack.yaml
Owners: @gromakovsky

[AD-53] Convert parse tree to printable tree
  knit/knit.cabal
  knit/src/Knit/DisplayError.hs
  knit/src/Knit/ParseTreeExt.hs
  knit/src/Knit/Parser.hs
  knit/src/Knit/Printer.hs
  knit/src/Knit/Tokenizer.hs
Owners: @int-index, @hithroc

[OPS-501] Update information about issue tracker
  CONTRIBUTING.md
  README.md
Owners: @gromakovsky

[OPS-501] Update information about issue tracker (#256)
  CONTRIBUTING.md
  README.md
Owners: @gromakovsky

Update closure
  closure.nix
Owners: @yegortimoshenko

release: pass Nixpkgs into the project
  release.nix
Owners: @yegortimoshenko
