Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

[AD-296] remove whitspace
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-296] Final PR changes
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-296] Minor PR enhancement changes
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-296] add address & account for new wallets
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Types.hs
  docs/usage-tui.md
Owners: @Pastafarianist, @gromakovsky

[AD-296] PR changes
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Types.hs
Owners: @Pastafarianist, @gromakovsky

[ad-53] Clean up
  knit/src/Knit/Autocompletion.hs
  knit/src/Knit/FormattedExprExt.hs
  knit/src/Knit/ParseTreeExt.hs
Owners: @int-index, @hithroc

[AD-53] Fix bug
  knit/src/Knit/Autocompletion.hs
Owners: @int-index, @hithroc

[AD-53] Use completion in the ui
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

[AD-167] hlint & style fixes
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Derivation.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Util.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Introduce UtxoByAccount
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Remove hdAddressIsUsed
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Create.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Do not throw IO exception in createHdWallet
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Add various missing instances
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Delete.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Spec.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Introduce deriveFirstBip44KeyPair
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Derivation.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix instance Arbitrary HdRootId
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix test keystore creation
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Split out decryptAddressRaw to simplify debugging
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Decrypt.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix style via import script
  ariadne/cardano/import_wallet.sh
Owners: @gromakovsky

[AD-167] Add comment about temp keystore path generation
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Remove Read.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Read.hs
  ariadne/cardano/test/backend/Wallet/Inductive/Cardano.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Do not patch generateGenesisData in Cardano
  ariadne/cardano/test/backend/UTxO/Context.hs
Owners: @gromakovsky

[AD-167] Move bracket functions to tests
  ariadne/cardano/package.yaml
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
  ariadne/cardano/test/backend/Test/Spec/Fixture.hs
  ariadne/cardano/test/backend/Test/Spec/Kernel.hs
Owners: @gromakovsky, @Pastafarianist

[AD-207] improve send TUI dialog, fix focus lists
  ui/vty-lib/package.yaml
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Password.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Utils.hs
Owners: @goodsoft

[AD-207] fix hlint issues, typos and wrong dialog names
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletTree.hs
  ui/vty-lib/src/Ariadne/UI/Vty/App.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Password.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-207] add send info for confirmation
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-207] add name-check in remove dialog (TUI)
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
Owners: @goodsoft

[AD-207] put name-check back in remove dialog (GUI)
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/vty-app/Glue.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-207] tell user of new-wallet's result
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletTree.hs
Owners: @goodsoft, @maksbotan

[AD-207] improve TUI dialogs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Password.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Utils.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Checkbox.hs
Owners: @goodsoft

[AD-207] Add confirmation/cancel mechanism for important actions
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Face.hs
  ui/qt-app/Glue.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Face.hs
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletTree.hs
  ui/vty-app/Glue.hs
  ui/vty-lib/src/Ariadne/UI/Vty/App.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Face.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/About.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Account.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/AddWallet.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Password.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Utils.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Button.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Checkbox.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Edit.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/List.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Send.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Help.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Logs.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Menu.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Status.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Tree.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Wallet.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft, @maksbotan

[AD-207] move common UI messages in UIConfig
  ariadne/core/src/Ariadne/UIConfig.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmMnemonic.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Delete.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/InsertPassword.hs
  ui/vty-lib/package.yaml
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmMnemonic.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmRemove.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/ConfirmSend.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Dialog/Password.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-369] Call newPending in sendTx
  ariadne/cardano/src/Ariadne/Wallet/Backend.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Tx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Internal.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Types.hs
  ariadne/cardano/test/backend/Test/Infrastructure/Generator.hs
  ariadne/cardano/test/backend/Test/Spec/Fixture.hs
  ariadne/cardano/test/backend/Test/Spec/Kernel.hs
  ariadne/cardano/test/backend/Wallet/Inductive/Cardano.hs
Owners: @Pastafarianist, @gromakovsky

[AD-53] Respect cursor location in autocompletion
  ui/vty-lib/src/Ariadne/UI/Vty/Widget.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Form/Edit.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

Remove extra stroke in banner
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

[AD-428] Always run UI action in the main thread
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  stack.yaml
Owners: @gromakovsky

[AD-428] Always run UI action in the main thread (#338)
  ariadne/cardano/src/Ariadne/MainTemplate.hs
  stack.yaml
Owners: @gromakovsky

[AD-167] Introduce UtxoByAccount
  ariadne/cardano/src/Ariadne/Wallet/Backend/KeyStorage.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Restore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Remove hdAddressIsUsed
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Addresses.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/AcidState.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Create.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Do not throw IO exception in createHdWallet
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Wallets.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix instance Arbitrary HdRootId
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
Owners: @Pastafarianist, @gromakovsky

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
