Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

[AD-167] hlint & style fixes
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Derivation.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/PrefilterTx.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Util.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix test keystore creation
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Introduce deriveFirstBip44KeyPair
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Derivation.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Add various missing instances
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/HdWallet/Delete.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Spec.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Split out decryptAddressRaw to simplify debugging
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Decrypt.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Add comment about temp keystore path generation
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Keystore.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Do not patch generateGenesisData in Cardano
  ariadne/cardano/test/backend/UTxO/Context.hs
Owners: @gromakovsky

[AD-167] Move bracket functions to tests
  ariadne/cardano/package.yaml
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
  ariadne/cardano/test/backend/Test/Spec/Fixture.hs
  ariadne/cardano/test/backend/Test/Spec/Kernel.hs
Owners: @gromakovsky, @Pastafarianist

[AD-167] Remove Read.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/DB/Read.hs
  ariadne/cardano/test/backend/Wallet/Inductive/Cardano.hs
Owners: @Pastafarianist, @gromakovsky

[AD-167] Fix style via import script
  ariadne/cardano/import_wallet.sh
Owners: @gromakovsky

[AD-340] fix after rebase, change exports with empty list
  ariadne/cardano/src/Ariadne/Cardano/Orphans.hs
  ariadne/cardano/src/Ariadne/Wallet/Backend/Mode.hs
  ariadne/cardano/src/Ariadne/Wallet/Cardano/WalletLayer/Kernel.hs
  ariadne/cardano/test/Test/Ariadne/Cardano/Arbitrary.hs
  ariadne/cardano/test/Test/Ariadne/History/Arbitrary.hs
  ariadne/cardano/test/Test/Ariadne/Update/Arbitrary.hs
  ariadne/cardano/test/Test/Ariadne/Wallet/Arbitrary.hs
  ariadne/core/src/Ariadne/UIConfig.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Util.hs
Owners: @gromakovsky, @Pastafarianist, @hithroc, @goodsoft, @maksbotan

[AD-389] Implement required funcionality
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/ConfirmSend.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Wallet.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/WalletInfo.hs
Owners: @goodsoft, @maksbotan

[AD-340] update style documentation
  docs/code-style.md
Owners: @gromakovsky

[AD-53] Use zipper to scroll suggestions
  ui/vty-lib/ariadne-vty-lib.cabal
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

Remove extra stroke in banner (#341)
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @goodsoft

Update code with changes caused by transition to named-0.2.0.0
  ariadne/cardano/src/Ariadne/Wallet/Cardano/Kernel/Bip32.hs
  stack.yaml
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/Repl.hs
Owners: @Pastafarianist, @gromakovsky, @goodsoft

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
