Repository serokell/ariadne, changes with the owners that CODEOWNERS names for each.
All owners: @gromakovsky, @int-index, @hithroc, @Pastafarianist, @goodsoft, @maksbotan, @yegortimoshenko

[AD-375] Place stubs and code clean up
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Make appropriate design accordin to zeplin
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] implemented basic layout
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
Owners: @goodsoft, @maksbotan

[AD-375] Place stubs and code clean up
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Add required functionality and button icons
  ui/qt-lib/package.yaml
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/link-ic.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Fix style based on hlint
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-175] use the correct configuration for Updates and History in CLI (with tests) (#316)
  ariadne/cardano/src/Ariadne/Config/CLI.hs
  ariadne/cardano/src/Ariadne/Config/History.hs
  ariadne/cardano/src/Ariadne/Config/Update.hs
  ariadne/cardano/test/Spec.hs
  ariadne/cardano/test/Test/Ariadne/History/Arbitrary.hs
  ariadne/cardano/test/Test/Ariadne/Update/Arbitrary.hs
Owners: @gromakovsky, @hithroc

[AD-53] Change `Doc` to detailed formatting info
  knit/src/Knit/FormattedExprExt.hs
Owners: @int-index, @hithroc

[AD-53] Suggest procedures instead of `OpUnit`
  knit/knit.cabal
  knit/src/Knit.hs
  knit/src/Knit/Autocompletion.hs
Owners: @int-index, @hithroc

Remove nonsense from style guide
  docs/code-style.md
Owners: @gromakovsky

Add `lint` target to Makefile
  CONTRIBUTING.md
  Makefile
Owners: @gromakovsky

Fix README
  README.md
Owners: @gromakovsky

Remove nonsense from style guide (#330)
  docs/code-style.md
Owners: @gromakovsky

Fix README (#333)
  README.md
Owners: @gromakovsky

Add `lint` target to Makefile (#332)
  CONTRIBUTING.md
  Makefile
Owners: @gromakovsky

[AD-375] Add changes according to PR issues
  Settings.hs
  ariadne/core/src/Ariadne/Version.hs
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/settings-ic.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-375] Fix typo
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Another changes accordint to PR issues
  ariadne/core/src/Ariadne/Version.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-375] Add necessary empty line in the end of the file
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Yet another change due to PR issues
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-375] Remove extra Settings.hs file and final stylish-haskell
  Settings.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-375] Remove trailing space
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
Owners: @goodsoft, @maksbotan

[AD-375] Add currentAriadneVersion to Ariadne.Update.Backend
  ariadne/cardano/src/Ariadne/Update/Backend.hs
Owners: @hithroc

[AD-375] Add app settings (#329)
  ariadne/cardano/src/Ariadne/Update/Backend.hs
  ariadne/core/src/Ariadne/Version.hs
  ui/qt-lib/package.yaml
  ui/qt-lib/resources/ariadne-qt.qrc
  ui/qt-lib/resources/images/link-ic.png
  ui/qt-lib/resources/images/settings-ic.png
  ui/qt-lib/resources/stylesheet.qss
  ui/qt-lib/src/Ariadne/UI/Qt/MainWindow.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/TopBar.hs
Owners: @hithroc, @gromakovsky, @goodsoft, @maksbotan

[AD-425] Allow no accounts selection in send form
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Send.hs
Owners: @goodsoft, @maksbotan

[AD-425] Allow no accounts selection in send form (#335)
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Send.hs
Owners: @goodsoft, @maksbotan

[AD-53] Refactor FormattedExprExt
  knit/src/Knit/Autocompletion.hs
  knit/src/Knit/FormattedExprExt.hs
  knit/src/Knit/Syntax.hs
Owners: @int-index, @hithroc

[AD-427] Add UIConfig.hs
  ariadne/core/src/Ariadne/UIConfig.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/About.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-427] Fix hlint error
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/About.hs
Owners: @goodsoft

[AD-427] Switch String to Text
  ariadne/core/src/Ariadne/UIConfig.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/About.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-427] Fix another hlint warning
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-427] Remove unnecessary import
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-427] Another unnecessary import
  ariadne/core/src/Ariadne/UIConfig.hs
Owners: @gromakovsky

[AD-427] Remove extra line
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
Owners: @goodsoft, @maksbotan

[AD-427] Add UIConfig (#339)
  ariadne/core/src/Ariadne/UIConfig.hs
  ui/qt-lib/src/Ariadne/UI/Qt/Widgets/Dialogs/Settings.hs
  ui/vty-lib/src/Ariadne/UI/Vty/Widget/About.hs
Owners: @gromakovsky, @goodsoft, @maksbotan

[AD-53] Suggest kwargs and procs without arguments
  knit/src/Knit/Autocompletion.hs
Owners: @int-index, @hithroc

[AD-53] Add autocompletion runner
  knit/src/Knit/Autocompletion.hs
Owners: @int-index, @hithroc

[AD-53] Autocomplete unfinished words
  knit/src/Knit/Autocompletion.hs
Owners: @int-index, @hithroc

[AD-427] Change link to changelog
  ariadne/core/src/Ariadne/UIConfig.hs
Owners: @gromakovsky

AD-427 Add UIConfig (#340)
  ariadne/core/src/Ariadne/UIConfig.hs
Owners: @gromakovsky

CODEOWNERS:

# Unless a later match takes precedence, @gromakovsky will be requested
# for review when someone opens a pull request, because @gromakovsky
# is the Head Vulture of this project.

*                               @gromakovsky

# Order is important; the last matching pattern takes the most precedence.

# Knit
knit/                           @int-index @hithroc

# Wallet
TaskManager/                    @hithroc
Update/                         @hithroc
Wallet/                         @Pastafarianist @gromakovsky

# UIs
ui/cli-app                      @goodsoft
ui/cli-lib                      @goodsoft
ui/qt-app                       @goodsoft @maksbotan
ui/qt-lib                       @goodsoft @maksbotan
ui/vty-app                      @goodsoft
ui/vty-lib                      @goodsoft

# CI, Nix
*.nix                           @yegortimoshenko
appveyor.yml                    @yegortimoshenko
